In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-07-29 01:29:20,-46.1927,168.8643,57.47,72,55,4.94
1,1,Arraial Do Cabo,BR,2021-07-29 01:26:56,-22.9661,-42.0278,64.47,86,100,19.01
2,2,Meulaboh,ID,2021-07-29 01:25:50,4.1363,96.1285,76.89,87,100,3.91
3,3,Havoysund,NO,2021-07-29 01:29:20,70.9963,24.6622,47.28,90,93,7.74
4,4,Hobart,AU,2021-07-29 01:26:47,-42.8794,147.3294,52.27,65,40,5.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Meulaboh,ID,2021-07-29 01:25:50,4.1363,96.1285,76.89,87,100,3.91
11,11,Hithadhoo,MV,2021-07-29 01:29:22,-0.6000,73.0833,79.20,76,100,3.22
13,13,Dashitou,CN,2021-07-29 01:29:23,43.3067,128.5114,81.30,67,100,1.83
18,18,Hilo,US,2021-07-29 01:26:54,19.7297,-155.0900,80.33,83,90,11.50
19,19,Spring Hill,US,2021-07-29 01:29:24,28.4769,-82.5255,84.07,94,1,0.00
22,22,Kavieng,PG,2021-07-29 01:29:25,-2.5744,150.7967,84.99,69,31,6.80
31,31,Surt,LY,2021-07-29 01:29:28,31.2089,16.5887,79.56,68,0,7.31
40,40,Tabou,CI,2021-07-29 01:29:30,4.4230,-7.3528,75.90,85,78,7.16
43,43,Kahului,US,2021-07-29 01:25:31,20.8947,-156.4700,84.22,75,40,24.16
44,44,Acapulco,MX,2021-07-29 01:25:42,16.8634,-99.8901,84.02,79,75,9.22

In [13]:
preferred_cities_df.count()

City_ID       212
City          212
Country       212
Date          212
Lat           212
Lng           212
Max Temp      212
Humidity      212
Cloudiness    212
Wind Speed    212
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2      Meulaboh      ID     76.89   4.1363   96.1285
11    Hithadhoo      MV     79.20  -0.6000   73.0833
13     Dashitou      CN     81.30  43.3067  128.5114
18         Hilo      US     80.33  19.7297 -155.0900
19  Spring Hill      US     84.07  28.4769  -82.5255
22      Kavieng      PG     84.99  -2.5744  150.7967
31         Surt      LY     79.56  31.2089   16.5887
40        Tabou      CI     75.90   4.4230   -7.3528
43      Kahului      US     84.22  20.8947 -156.4700
44     Acapulco      MX     84.02  16.8634  -99.8901

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Meulaboh,ID,76.89,4.1363,96.1285,Kost Pria
11,Hithadhoo,MV,79.20,-0.6000,73.0833,Scoop Guest House
13,Dashitou,CN,81.30,43.3067,128.5114,大林宾馆
18,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Spring Hill,US,84.07,28.4769,-82.5255,Room of The world By traveline Plus
...,...,...,...,...,...,...
524,Punakha,BT,78.46,27.5837,89.8598,Kunzang Zhing Resort
525,Erenhot,CN,77.50,43.6475,111.9767,Erenhot Rurouni Youth Hostel
526,Gallup,US,80.44,35.5281,-108.7426,El Capitan Motel
530,Bintulu,MY,82.81,3.1667,113.0333,900 Boutique INN
532,Karwar,IN,78.76,14.8000,74.1333,Netalco Connects

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))